In [1]:
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [8]:
a=4
b=7
if b>a:
    print("True")

True

In [9]:
a=b=3
if b>a:
    print("b is grt than a")
elif a==b:
    print("b is eql to a")

b is eql to a

In [2]:
a=7
b=3
if b>a:
    print("False")
elif a==b:
    print("Fail")
else:
    print("True")

True

In [3]:
x=8
y=10
if y>x:print("True")

True

In [5]:
x=18
y=10
print("True") if y>x else print("False")

False

In [6]:
a=18
b=10
c=21
if a>b and a<c:
    print("True")

True

In [7]:
a=18
b=10
c=21
if a>b or a<c:
    print("True")

True

In [13]:
d=int(input("Enter your 10th %age: "))
if d>=33:
    if (d>=33) and (d<=50):
        print("Grade C")
    elif (d>50)  and (d<=80):
        print("Grade B")
    else:
        print("Grade A")
else:
    print("Fail")

Enter your 10th %age: 50
Grade C

In [15]:
a=10
b=75
if b>a:
    pass

In [ ]:
## Data Container

# List
It is  a order,sequence data type which is used to store collection of Data

In [118]:
Name=["Ajay","Balram","Chaman","Danish"]
Num=[1,4,7,9,9,9]
Mix=["Ajit",5,9.33,-15]

In [88]:
Name

['Ajay', 'Balram', 'Chaman', 'Danish']

In [89]:
print(Num)

[1, 4, 7, 9, 9, 9]

In [90]:
Mix

['Ajit', 5, 9.33, -15]

In [91]:
Name[:2]

['Ajay', 'Balram']

In [92]:
Mix[::-1]

[-15, 9.33, 5, 'Ajit']

In [93]:
# List items are order,changeable
# it also allow Duplicate values.
# List items are indexed

In [94]:
len(Name),len(Mix),len(Num)

(4, 4, 6)

In [95]:
B1=[True,False,True,True,False]

In [96]:
type(B1),type(a)

NameError: name 'a' is not defined

In [97]:
if 5 in Mix:
    print("5 is present in the list ")

5 is present in the list

In [98]:
Name

['Ajay', 'Balram', 'Chaman', 'Danish']

# Update

In [99]:
Name[1]="Binish" #Changing the value of a specific item by giving the index number
Name

['Ajay', 'Binish', 'Chaman', 'Danish']

In [100]:
Name[1:3]=["Gaurav","Lucky"]
Name

['Ajay', 'Gaurav', 'Lucky', 'Danish']

In [101]:
Name[1:3]=["Kailash","Lokesh","Mahesh"] # if you insert more item than you replace new item will be inserted and remaining item move accordingly
Name

['Ajay', 'Kailash', 'Lokesh', 'Mahesh', 'Danish']

# Insert

In [102]:
Name.insert(1,"Pawan") # insert method is use to insert the item at specify index without replacing  the previous element.
Name

['Ajay', 'Pawan', 'Kailash', 'Lokesh', 'Mahesh', 'Danish']

# Append

In [103]:
Name.append("Om") # it add the item at the end of the list
Name

['Ajay', 'Pawan', 'Kailash', 'Lokesh', 'Mahesh', 'Danish', 'Om']

In [104]:
Name.append(["Ramesh","Vikas"]) # it add the item at the end of the list
Name

['Ajay',
 'Pawan',
 'Kailash',
 'Lokesh',
 'Mahesh',
 'Danish',
 'Om',
 ['Ramesh', 'Vikas']]

# Extend

In [105]:
l1=["A","B","C"] # it is used to add two or more list
l2=["K","L","M"] 
l1.extend(l2)
l1

['A', 'B', 'C', 'K', 'L', 'M']

In [106]:
l1.extend(["G","F"])
l1

['A', 'B', 'C', 'K', 'L', 'M', 'G', 'F']

### Indexing

In [107]:
Name[-1]

['Ramesh', 'Vikas']

# Pop

In [108]:
Name.pop() # it remove the last item

['Ramesh', 'Vikas']

In [109]:
Name

['Ajay', 'Pawan', 'Kailash', 'Lokesh', 'Mahesh', 'Danish', 'Om']

In [110]:
Name.pop(3) # it remove the last item

'Lokesh'

In [111]:
Name

['Ajay', 'Pawan', 'Kailash', 'Mahesh', 'Danish', 'Om']

#  Remove

In [112]:
Name.remove("Pawan") #Remove the item from the list

In [113]:
Name

['Ajay', 'Kailash', 'Mahesh', 'Danish', 'Om']

In [114]:
del Name[-1]

In [115]:
Name

['Ajay', 'Kailash', 'Mahesh', 'Danish']

# Copy

In [123]:
n2=Name.copy() #Returns a copy of the list
n2

['Ajay', 'Balram', 'Chaman']

In [124]:
Name

['Ajay', 'Balram', 'Chaman']

In [125]:
n3=Name
n3

['Ajay', 'Balram', 'Chaman']

In [126]:
Name.pop()
Name

['Ajay', 'Balram']

In [127]:
n3

['Ajay', 'Balram']

In [128]:
n2

['Ajay', 'Balram', 'Chaman']

In [121]:
del n2

In [122]:
n2

NameError: name 'n2' is not defined

In [123]:
n2=Name.copy()
n2

['Ajay', 'Kailash', 'Mahesh']

# Clear

In [124]:
n2.clear() #Remove all the item from the list and left a empty list

In [125]:
n2

[]

In [126]:
len(n2)

0

In [127]:
n2.append("Vikas")
n2

['Vikas']

In [128]:
Num

[1, 4, 7, 9, 9, 9]

# Sort

In [134]:
Num.sort() #sort items in ascending order

In [135]:
Num.sort(reverse=True)
Num

[9, 9, 9, 7, 4, 1]

In [136]:
Name.sort(reverse=True)
Name

['Mahesh', 'Kailash', 'Ajay']

In [137]:
Mix

[-15, 9.33, 5, 'Ajit']

In [138]:
Mix.reverse()

In [85]:
Mix

[-15, 9.33, 5, 'Ajit']

####  for Loop

In [12]:
V1=["Danish",23,34.56,"Vijay","Happy",10]
for i in V1:
    print(i)

Danish
23
34.56
Vijay
Happy
10

In [13]:
l=range(5,25,5)
l

range(5, 25, 5)

In [14]:
for i in l:
    print(i)

5
10
15
20

In [15]:
i2=list(range(5,13,2))
i2

[5, 7, 9, 11]

In [16]:
for i in range(len(V1)): # Loop through the list
    print(i)

0
1
2
3
4
5

In [19]:
for i in range(len(V1)): # Loop through the index
    print(i,V1[i])

0 Danish
1 23
2 34.56
3 Vijay
4 Happy
5 10

In [74]:
old=["abc" , "pobc" , "vad" , "xus" , "ioa"]
new=[]
print(old)

['abc', 'pobc', 'vad', 'xus', 'ioa']

In [75]:
print(new)

[]

In [76]:
for i in old:
    if "a" in i:
        print(i)
        new.append(i)

abc
vad
ioa

In [77]:
new

['abc', 'vad', 'ioa']

In [78]:
c=list(range(1,16,3))
c

[1, 4, 7, 10, 13]

In [79]:
emp=[]

In [26]:
for i in c:
    emp.append(i)
emp

[1, 4, 7, 10, 13]

In [30]:
for i in c:
    if i%2==0:
        emp.append(i)
    else:
        print(i,"not divisble")
emp

1 not divisble
7 not divisble
13 not divisble

[4, 10]

In [31]:
emp1=[]
for i in c:
    if i%2==0:
        emp1.append(i)
emp1

[4, 10]

In [32]:
c

[1, 4, 7, 10, 13]

In [33]:
nl=[i for i in c if i%2!=0] #newlist = [expression for item in iterable if condition == True]
nl

[1, 7, 13]

In [34]:
nk=[i for i in c]  
nk

[1, 4, 7, 10, 13]

In [35]:
V1

['Danish', 23, 34.56, 'Vijay', 'Happy', 10]

In [36]:
V1.index("Vijay")

3

# Tuple
- Tuple is used to store item
- tuple are ordered but not changable

In [37]:
t1=("a","b","c","d")
type(t1)

tuple

In [39]:
t2=("Danish",3.4,88,"Ravi")
len(t2)

4

In [40]:
t2[0:2] # index

('Danish', 3.4)

In [41]:
for i in t2:
    print(i)

Danish
3.4
88
Ravi

In [42]:
t2[2]=66  # Tuples are immutable
t2

TypeError: 'tuple' object does not support item assignment

In [44]:
c1=list(t2) #Change Tuple to List First then Change into Tuple
c1

['Danish', 3.4, 88, 'Ravi']

In [45]:
c1.append("Jhon")
c1

['Danish', 3.4, 88, 'Ravi', 'Jhon']

In [47]:
t3=tuple(c1)
t3

('Danish', 3.4, 88, 'Ravi', 'Jhon')

#### List & Tuple Unpacking

In [49]:
lst=["a","b","c"]
x1,x2,x3=lst

In [50]:
x1

'a'

In [51]:
x2

'b'

In [52]:
x3

'c'

In [54]:
x1,*x2=lst

In [55]:
x1

'a'

In [56]:
x2

['b', 'c']

In [58]:
lst1=["a","b","c",4,6,7,10]
y1,*y2,y3,y4=lst1

In [59]:
y1

'a'

In [60]:
y4

10

In [61]:
y3

7

In [62]:
y2

['b', 'c', 4, 6]

In [63]:
lst

['a', 'b', 'c']

In [64]:
lst*2

['a', 'b', 'c', 'a', 'b', 'c']

In [12]:
g=list(range(1,51))

In [18]:
Num_2=[]
Num_3=[]
Num_5=[]
Num=[]
for i in g:
    if i%2==0:
        Num_2.append(i)
    elif i%3==0 :
        Num_3.append(i)
    elif i%5==0 :
        Num_5.append(i)
    else:
        Num.append(i)
print("Numbers are divisible by 2:" ,Num_2)
print("Numbers are divisible by 3:" ,Num_3)
print("Numbers are divisible by 5:" ,Num_5)
print("Numbers neither divisible by 2 nor 3:" ,Num)

Numbers are divisible by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
Numbers are divisible by 3: [3, 9, 15, 21, 27, 33, 39, 45]
Numbers are divisible by 5: [5, 25, 35]
Numbers neither divisible by 2 nor 3: [1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [39]:
Num_2=[]
Num_2and3=[]
Num_2and5=[]
Num_3=[]
Num_5=[]
Num_3and5=[]
Num_2and3and5=[]
Num=[]
for i in g:
    if i%2==0:
        Num_2.append(i)
        if i%2==0 and i%3==0 and i%5==0:
            Num_2and3and5.append(i)
        elif i%3==0 :
            Num_2and3.append(i) 
        elif i%5==0 :
            Num_2and5.append(i)
    elif i%3==0 :
        Num_3.append(i)
        if i%5==0 :
            Num_3and5.append(i) 
    elif i%5==0 :
        Num_5.append(i)
    else:
        Num.append(i)
print("Numbers are divisible by 2:" ,Num_2)
print("Numbers are divisible by 2&3:" ,Num_2and3)
print("Numbers are divisible by 2&5:" ,Num_2and5)
print("Numbers divisible by 2,3&5:" ,Num_2and3and5)
print("Numbers are divisible by 3:" ,Num_3)
print("Numbers are divisible by 5:" ,Num_5)
print("Numbers are divisible by 3&5:" ,Num_3and5)
print("Numbers not divisible by 2,3,5:" ,Num)

Numbers are divisible by 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
Numbers are divisible by 2&3: [6, 12, 18, 24, 36, 42, 48]
Numbers are divisible by 2&5: [10, 20, 40, 50]
Numbers divisible by 2,3&5: [30]
Numbers are divisible by 3: [3, 9, 15, 21, 27, 33, 39, 45]
Numbers are divisible by 5: [5, 25, 35]
Numbers are divisible by 3&5: [15, 45]
Numbers not divisible by 2,3,5: [1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49]

In [10]:
List=["A","B","C","D","w","x","y","z",1,2,3,4,"!","@","$","&"]
lst1=[]
lst2=[]
lst3=[]
lst4=[]
for i in range(0,len(List)):
    if str(List[i]).isupper():
        lst1.append(List[i])
    elif str(List[i]).islower():
        lst2.append(List[i])
    elif str(List[i]).isdigit():
        lst3.append(List[i])
    else:
        lst4.append(List[i])
print("Capital Letters" ,lst1)
print("Small Letters:" ,lst2)
print("Numbers:" ,lst3)
print("Special Char" ,lst4)

Capital Letters ['A', 'B', 'C', 'D']
Small Letters: ['w', 'x', 'y', 'z']
Numbers: [1, 2, 3, 4]
Special ['!', '@', '$', '&']